{% extends 'worker/index.html.twig' %}
{% block title %}{% if app.request.pathinfo == "/user/edit/" %}Editar mis datos{% else %}Edición de trabajadores{% endif %}{% endblock %}
{% block content %}
    <div class="col-md-12">
        <div>
            <h1>
            {% if app.request.pathinfo == "/user/edit/" %}Editar mis datos{% else %}Editar trabajador{% endif %}
            </h1>
        </div>
        {{ form_start(workerForm) }}
            {{ form_row(workerForm.firstName) }}
            {{ form_row(workerForm.lastName) }}
            {{ form_row(workerForm.email) }}
            {# Los avatares solo se podrán modificar en el área personal de cada usuario #}
            {% if app.request.pathinfo == "/user/edit/" %}
                {{ form_row(workerForm.avatar, {
                    attr: {
                        'placeholder': 'Clique aquí para seleccionar una imagen'
                    }
                }) }}
            {% endif %}
            {{ form_row(workerForm.telephone) }}
            {{ form_row(workerForm.sex) }}
            <button type="submit" class="btn btn-primary">Editar</button>
        {{ form_end(workerForm) }}
    </div>
{% endblock %}