{% extends 'home/index.html.twig' %}

{% block title %}Área de trabajadores{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styleWorker.css') }}">
{% endblock %}

{% block content %}
    <div class="col-md-12"><h1>Trabajadores</h1></div>
    <div class="col-md-12 clientOptions">
        <a href="{{ path('worker_new') }}"><input type="button" value="Añadir trabajador"></a>
        <input class="input" type="text" placeholder="Buscar...">
    </div>
    <div class="col-md-12 workerList">
        <div class="container">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>

                {% for worker in workers %}
                        <tr {% if worker.active %} class="activeW"{% else %}class="inactiveW"{% endif %}>
                            <td>{{ worker.firstName }}</td>
                            <td>{{ worker.lastName }}</td>
                            <td>{{ worker.email }}</td>
                            <td>{{ worker.telephone }}</td>
                            <td>
                                <a href="{{ path('worker_edit', {'id': worker.id}) }}"> Editar</a>
                                <a href="{{ path('worker_activate', {'id': worker.id}) }}">{% if worker.active %} Desactivar{% else %}Activar{% endif %}</a>
                                <!--<a href="{{ path('worker_detail', {'id': worker.id}) }}">Detalle</a>-->
                            </td>
                        </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>
        {#{% for worker in workers %}
            <a href="{{ path('worker_detail', {'id': worker.id}) }}">
                <div>
                    <div> {{ worker.firstName }} {{ worker.lastName }}</div>
                </div>
            </a>
        {% endfor %}#}
    </div>

{% endblock %}