{% extends 'home/index.html.twig' %}

{% block title %}Área de trabajadores{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styleWorker.css') }}">
{% endblock %}

{% block content %}
    <div class="col-md-12"><h1>Trabajadores</h1></div>
    <div class="col-md-12 workerOptions">
        <a href="{{ path('worker_new') }}"><input type="button" class="btn btn-success" value="Añadir trabajador"></a>
        <input class="input search" id="search" type="text" placeholder="Buscar...">
    </div><br>
    <div class="col-md-12 workerList">
        <div class="container">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Avatar</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Opciones</th>
                </tr>
                </thead>
                <tbody>

                {% for worker in workers %}
                        <tr class="workerData{% if worker.active %} activeW"{% else %} inactiveW"{% endif %}>
                            <td><img class="workerImage" {% if worker.avatar is null %} src="{{ asset('images/avatarW.png') }} {% else %} src="{{ asset('./uploads/worker_avatar/'~worker.avatar) }}" {% endif %}"> </td>
                            <td class="workerName">{{ worker.firstName }}</td>
                            <td class="workerLN">{{ worker.lastName }}</td>
                            <td class="workerMail">{{ worker.email }}</td>
                            <td class="workerTel">{{ worker.telephone }}</td>
                            <td class="optionsTD">
                                <a class="btn btn-warning" href="{{ path('worker_edit', {'id': worker.id}) }}"> Editar</a><br><br>
                                <a {% if worker.active %} class="btn btn-danger"{% else %}class="btn btn-success"{% endif %} href="{{ path('worker_activate', {'id': worker.id}) }}">{% if worker.active %} Desactivar{% else %}Activar{% endif %}</a>
                                <!--<a href="{{ path('worker_detail', {'id': worker.id}) }}">Detalle</a>-->
                            </td>
                        </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>
        {#{% for worker in workers %}
            <a href="{{ path('worker_detail', {'id': worker.id}) }}">
                <div>
                    <div> {{ worker.firstName }} {{ worker.lastName }}</div>
                </div>
            </a>
        {% endfor %}#}
    </div>

{% endblock %}
{% block headjs %}
    {{ parent() }}
    <script>
        $('#search').on('keyup', function (e) {
            $('.workerData').each(function () {
                if( !$(this).find('.workerName').text().toLowerCase().includes( $('#search').val().toLowerCase()) &&
                    !$(this).find('.workerMail').text().toLowerCase().includes( $('#search').val().toLowerCase()) &&
                    !$(this).find('.workerLN').text().toLowerCase().includes( $('#search').val().toLowerCase()) &&
                    !$(this).find('.workerTel').text().toLowerCase().includes( $('#search').val().toLowerCase())
                )
                    $(this).css('display', 'none');
                else
                    $(this).css('display', '');
            })
        })
    </script>
{% endblock %}