<div class="col-md-12">
    <h1 class="welcomeTitle center">Bienvenido {{ worker.firstName }}</h1>
    {% if not is_granted('ROLE_ADMIN') %}
    <div class="commissionArea col-md-5">
        <h2 class="center" >Encargos</h2>


        <h2>Para hoy tienes <span>{{ nOrders }}</span> encargo/s pendientes </h2>
            {% if nOrders > 0 %}
                <ul>
                    {% for order in orders %}
                        <a href="{{ path('order_details', {'id': order.id}) }}"><li>Encargo de: {{ order.client.firstName }}</li></a>
                        <ul>
                            {% for product in order.orderProducts %}
                                <li>{{ product.quantity }} {{ product.product }}</li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if nOrdersTomorrow > 0 %}
                <h2>Y para mañana tienes <span>{{ nOrdersTomorrow }}</span> encargos pendientes </h2>
            {% endif %}
            <a href="{{ path('orders') }}" class="btn btn-primary"> Ver más</a>
    </div>
    {% endif %}
    <div class="personalArea {% if not is_granted('ROLE_ADMIN') %}col-md-6 {% else %}col-md-12{% endif %}">
        <h2 class="center" >Área personal</h2>
        <div class="avatarContainerHome col-md-5">
            <img class="avatarHome" {% if worker.avatar is null  %} src="{{ asset('images/avatarW.png') }}"{% else %} src="{{ asset('./uploads/worker_avatar/'~worker.avatar) }}" {% endif %}>
        </div>
        <div class="dataHome col-md-6">
            <label class="bold">Nombre: </label><span> {{ worker.firstName }}</span><br>
            <label class="bold">Apellidos: </label><span> {{ worker.lastName }}</span><br>
            <label class="bold">Teléfono: </label><span> {{ worker.telephone }}</span><br>
            <label class="bold">Sexo: </label><span>{% if worker.sex == 1 %} Hombre {% elseif worker.sex == 2 %} Mujer {% else %} No determinado {% endif %}</span><br>
            <a href="{{ path('user_edit') }}" class="btn btn-primary"> Editar datos </a><br><br>
            <a href="{{ path('change_pass') }}" class="btn btn-warning"> Cambiar contraseña </a><br><br>
            {% if not is_granted('ROLE_ADMIN') %}
                <a href="{{ path('my_route') }}" class="btn btn-success"> Ver mi ruta completa </a>
            {% endif %}
        </div>
    </div>
</div>