{% extends 'base.html.twig' %}

{% block title %}Home. ¡Bienvenido {{ worker.firstName }}!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styleHome.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styleMenu.css') }}">
{% endblock %}

{% block body %}
<div class="container-fluid appContainer">
    <div class="row">
        <div class="appMenu">
            {{ include('home/menu.html.twig') }}
        </div>
        <div class="col-md-10 appContent">
            {% block content %}
                {{ include('home/home.html.twig') }}
            {%endblock %}
        </div>
    </div>
</div>
{% endblock %}
{% block headjs %}
    {{ parent() }}
    <script>
        //Si detecta que es un dispositivo movil, cerraremos el menú por defecto
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
            toggleMenu();
        }

        //Función que abre/cierra el menú (lateral en pc y superior en dispositivos móviles)
        function toggleMenu(){
            $(document).ready(function () {
                $('.appMenu').toggleClass('active');
                if($('.appMenu').hasClass('active')){
                    $('.appContent').removeClass('col-md-10');
                    $('.appContent').addClass('col-md-11');
                }else{
                    $('.appContent').removeClass('col-md-11');
                    $('.appContent').addClass('col-md-10');
                }
            });
        }
    </script>
{% endblock %}
