{% extends 'base.html.twig' %}

{% block title %}Home. ¡Bienvenido {{ worker.firstName }}!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styleHome.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styleMenu.css') }}">
{% endblock %}

{% block body %}
<div class="container-fluid appContainer">
    <div class="row">
        <div class="col-md-2 appMenu">
            {{ include('home/menu.html.twig') }}
        </div>
        <div class="col-md-10 appContent">
            {% block content %}
                {{ include('home/home.html.twig') }}
            {%endblock %}
        </div>
    </div>
</div>
{% endblock %}
