{% extends 'debt/index.html.twig' %}
{% block title %}Añadir productos{% endblock %}
{% block content %}
    <div class="col-md-12">
        <div><h2>Añadir productos a la deuda de <a href="{{ path('client_detail', {'id': client.id}) }}">{{ client.firstName }} {{ client.lastName }}</a></h2></div>
        {{ form_start(addPForm) }}
        {{ form_row(addPForm.purchaseDate) }}
        <h2>Productos</h2>
        <div class="productContainer">
            {#{{ form_row(addPForm.product) }}
            <a class="btn btn-primary">Nuevo producto a la deuda</a>#}
            {% for product in products %}
                <div class="productItem" id="{{ product.id }}">
                    <div class="productName col-md-12"> <img src="{{ asset('./uploads/products/'~product.image) }}" width="200" height="150"><br>{{ product }} </div><br>
                    <div class="productQuantity col-md-12">
                        <input class="form-control" type="number" name="debt_form[quantity][{{ product.id }}]">
                    </div>
                </div>
            {% endfor %}
        </div>
        <br><button type="submit" class="btn btn-primary">Añadir producto/s</button>
        {{ form_end(addPForm) }}
    </div>
{% endblock %}