{% extends 'debt/index.html.twig' %}
{% block title %}Cobrar deuda{% endblock %}
{% block content %}
    <script type='text/javascript' src='{{ asset('js/config.js') }}'></script>
    <div class="col-md-12">
        <div><h1>Cobrar deuda a {{ client.firstName }} {{ client.lastName }}</h1></div>
        {{ form_start(cDebtForm, {'attr': {'onsubmit': 'return confirm("¿Está todo correcto?")'}}) }}
        {{ form_row(cDebtForm.paymentDate) }}
        <h2>Desglose</h2><span><a href="#" onclick="$('.newDates').show();">Cambiar fechas</a></span>
        <div class="newDates">
            <label>Fecha inicio</label><input type="date" name="debt_form[d1]" id="d1">
            <label>Fecha fin</label><input type="date" name="debt_form[d2]" id="d2">
            <a href="#" onclick="changeBD()">Cambiar</a>
        </div>
        <div class="clientDebtsList">
            <table class="table table-hover breakdownTable">
                <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad adquirida</th>
                    <th>Fecha de compra</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.product.name }}</td>
                        <td>{{ product.product.price }} €</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.purchaseDate|date('d-m-Y') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <h2>Valor del desglose: <span class="count">{{ count }}</span> €</h2>
        <br><button type="submit" class="btn btn-primary">Marcar como cobrado</button>
        {{ form_end(cDebtForm) }}
    </div>
{% endblock %}
{% block headjs %}
    {{ parent() }}
    <script>
        function changeBD(){
            $(document).ready(function() {
                var d1 = $('#d1').val();
                var d2 = $('#d2').val();
                var url = "http://"+config.HOST+"/bdapi/{{ client.id }}/"+d1+"/"+d2;

                $.ajax({
                    url: url, success: function (result) {
                        var resultJSON = JSON.stringify(result);
                        $('.count').text(JSON.parse(resultJSON).count);
                        $('.breakdownTable').find('tbody').empty();
                        $.each(JSON.parse(resultJSON).debts, function(index, value){
                            var d = new Date(value.purchaseDate);
                            $('.breakdownTable').find('tbody')
                                .append( $('<tr>')
                                    .append($('<td>')
                                        .text(value.product.name)
                                    )
                                    .append($('<td>')
                                        .text(value.product.price+" €")
                                    )
                                    .append($('<td>')
                                        .text(value.quantity)
                                    )
                                    .append($('<td>')
                                        .text(d.getDay()+"-"+(d.getMonth()+1)+"-"+d.getFullYear())
                                    )
                                )
                        })
                    }
                });
            });
        }
    </script>
{% endblock %}