{% extends 'home/index.html.twig' %}

{% block title %}Facturación{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styleDebt.css') }}">
{% endblock %}

{% block content %}
    <div class="col-md-12"><h1>Facturación</h1></div>
    <div class="col-md-12">
        {#El administrador no debe realizar el proceso de facturación de todos los clientes,
         solo debería hacer algún ajuste si fuera necesario#}
        {% if not is_granted('ROLE_ADMIN') %}
            {#Este enlace dirige al primer cliente del trabajador en orden de reparto#}
            <a href="{{ path('add_product', {'id': clients_debts[0].id}) }}" class="btn btn-success">Comenzar facturación</a>
        {% endif %}
        <!--<input class="input search" type="text" placeholder="Buscar...">-->
    </div>
    <div class="col-md-12 clientDebtsList"><br>
        {% for client in clients_debts %}
            <div class="clientContainer col-md-12 {% if client.active == 0 %} disabled {% endif %}">
                <div class="col-md-6" >
                        <div class="clientImageContainer"><img class="clientImage" {% if client.avatar is null %}  src="{{ asset('images/avatar.png') }}" {% else %} src="{{ asset('./uploads/client_avatar/'~client.avatar) }}" {% endif %}  > {# {{ client.avatar }} #}</div>
                    <a href="{{ path('client_detail', {'id': client.id}) }}">
                        <div class="clientName"> {{ client.firstName }} {{ client.lastName }} {% if client.alias is not null %} "{{ client.alias }}" {% endif %}</div>
                    </a>
                </div>

                <div class="clientDebtsOptions col-md-6">
                    {% if client.active == 1 %}
                        <a class="btn btn-primary" href="{{ path('add_product', {'id': client.id}) }}">Añadir productos a la deuda</a>
                    {% endif %}
                    <a class="btn btn-primary" href="{{ path('collect_debt', {'id': client.id}) }}">Cobrar deuda</a>
                    <a class="btn btn-primary" href="{{ path('breakdown', {'id': client.id}) }}">Histórico</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}