{% extends 'product/index.html.twig' %}
{% block title %}Edición de productos{% endblock %}
{% block content %}
    <div class="col-md-12">
        <div><h1>Editar producto</h1></div>
        <div class="productForm">
            {{ form_start(productForm) }}
            {{ form_row(productForm.name) }}
            {{ form_row(productForm.price) }}
            <div class="col-sm-8" style="display: inline-block; padding: 0;">
                {{ form_row(productForm.image, {
                    attr: {
                        'placeholder': 'Clique aquí para seleccionar una imagen'
                    }
                }) }}
            </div>
            {# Pintamos la imagen actual #}
            <div class="col-sm-3 imagePreview" style="display: inline-block">
                {% if productForm.vars.data.image %}
                    <img src="{{ asset('./uploads/products/'~productForm.vars.data.image) }}" id="imgPreview" height="100">
                {% endif %}
            </div>
            {{ form_row(productForm.description) }}
            <button type="submit" class="btn btn-primary editProductButton">Editar producto</button>
            {{ form_end(productForm) }}
        </div>
    </div>
{% endblock %}