{% extends 'home/index.html.twig' %}

{% block title %}Productos{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styleProduct.css') }}">
{% endblock %}

{% block content %}
    <div class="col-md-12"><h1>Productos</h1></div>
    <div class="col-md-12 productOptions">
        <a href="{{ path('product_new') }}"><input type="button" class="btn btn-success" value="Añadir producto"></a>
        <input class="input search" id="search" type="text" placeholder="Buscar...">

    </div>
    <div class="col-md-12 productList"><br>
        {% for product in products %}
            <div class="productContainer col-md-3">
                <a href="#{#{{ path('product_detail', {'id': product.id}) }}#}">
                    <div class="productImageContainer"><img class="productImage"  src="{{ asset('./uploads/products/'~product.image) }}"></div><br>
                    <div class="productName"> {{ product.name }}</div>
                    <div class="productPrice">{{ product.price }} €</div>
                    <div class="productEdit"><a href="{{ path('product_edit',{'id': product.id}) }}" class="btn btn-warning">Editar</a> </div>
                    <div class="productActivation">
                        <a href="{{ path('product_activate', {'id': product.id}) }}"
                        {% if product.active %} class="btn btn-danger">Desactivar
                        {% else %} class="btn btn-success"> Activar {% endif %} </a>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block headjs %}
    {{ parent() }}
    <script>
        $('#search').on('keyup', function (e) {
            $('.productContainer').each(function () {
                if( !$(this).find('.productName').text().toLowerCase().includes( $('#search').val().toLowerCase()) &&
                    !$(this).find('.productPrice').text().toLowerCase().includes( $('#search').val().toLowerCase())
                )
                    $(this).css('display', 'none');
                else
                    $(this).css('display', 'inline-table');
            })
        })
    </script>
{% endblock %}