{% extends 'client/index.html.twig' %}
{% block title %}Creación de clientes{% endblock %}
{% block content %}
    <script type='text/javascript' src='{{ asset('js/config.js') }}'></script>
    <div class="col-md-12">
        <div><h1>Crear cliente</h1></div>
        {{ form_start(clientForm) }}
        {{ form_row(clientForm.firstName) }}
        {{ form_row(clientForm.lastName) }}
        {{ form_row(clientForm.alias) }}
        {{ form_row(clientForm.address) }}
        {{ form_row(clientForm.latitude) }}
        {{ form_row(clientForm.longitude) }}
        <input type="button" class="btn btn-primary" value="Mostrar" onclick="showMap()"><br><br>
        {# Mapa para el geocoding #}
        <div class="" id="map" style="height: 250px;"></div>
        <script>
            var map = L.map('map').setView([ -34.397 , 150.644], 16);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                minZoom: 10,
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
            var marker = L.marker([-34.397,150.644]).addTo(map);
        </script>
        <br>
        {{ form_row(clientForm.email) }}
        {{ form_row(clientForm.telephone) }}
        {{ form_row(clientForm.sex) }}
        <div class="col-sm-8" style="display: inline-block; padding: 0;">
            {{ form_row(clientForm.avatar, {
                attr: {
                    'placeholder': 'Clique aquí para seleccionar una imagen'
                }
            }) }}
        </div>
        <div class="col-sm-3 imagePreview" style="display: inline-block">
            <img src="" id="imgPreview" height="100">
        </div>
        {# Al admin se le aparece un select con los trabajadores para asignar al cliente #}
        {% if is_granted('ROLE_ADMIN') %}{{ form_row(clientForm.user) }}{% else %} <br>{% endif %}
        <button type="submit" class="btn btn-primary">Crear</button> <br><br>
        {{ form_end(clientForm) }}
    </div>

    <script>
        function showMap() {
            //Ponemos la direccion en un formato adecuado. Espacios en blanco = %20, comas = %2C
            var address = $( "#client_form_address" ).val().replace(/ /g, "%20").replace(/,/g, "%2C");
            var addressURL = 'https://api.opencagedata.com/geocode/v1/json?q='+address+'&key='+config.OC_KEY;

            $.getJSON(addressURL, function(data) {
                //Quitamos el anterior marcador
                map.removeLayer(marker);

                //Obtenemos coordenadas y las trasladamos al mapa, el cual hacemos visible
                var lat = data.results[0].bounds.northeast.lat;
                var lng = data.results[0].bounds.northeast.lng;
                $('.hiddenMap').show();

                //Guardamos las variables en sus respectivos inputs
                $("#client_form_latitude").val(lat);
                $("#client_form_longitude").val(lng);

                //Centramos el mapa en las coordenadas obtenidas y situamos un marcador
                map.panTo([lat,lng], 16);

                marker = L.marker([lat,lng], {draggable: true}).addTo(map);

                //Permitimos el movimiento del marker, cambiando las coordenadas al soltarlo
                marker.on('dragend',function (ev) {
                    var pos = ev.target.getLatLng();
                    lat = pos.lat; lng = pos.lng;

                    //Guardamos las variables en sus respectivos inputs
                    $("#client_form_latitude").val(lat);
                    $("#client_form_longitude").val(lng);
                })
            });
        }
    </script>
{% endblock %}