{% extends 'client/index.html.twig' %}
{% block title %}Área de clientes{% endblock %}
{% block content %}
    <script type='text/javascript' src='{{ asset('js/config.js') }}'></script>

    <div class="col-md-12"><h1>Detalles del cliente</h1></div>

    <div class="col-md-12 clientDetails">
        <div class="col-md-3 clientImageDetailContainer">
            <img class="clientImageDetail" {% if client.avatar is null %}  src="{{ asset('images/avatar.png') }}" {% else %} src="{{ asset('./uploads/client_avatar/'~client.avatar) }}" {% endif %}">
            <br><br>
            <a class="btn btn-primary" href="{{ path('client_edit', {'id': client.id}) }}">Editar cliente</a>
            <br><br>
            <a {% if client.active %} class="btn btn-danger"{% else %}class="btn btn-success"{% endif %} href="{{ path('client_activate', {'id': client.id}) }}">
             {% if client.active %} Desactivar {% else %}Activar{% endif %}
            </a>
        </div>
        <div class="col-md-9 clientData">
            <label><span class="bold"> Nombre:</span> {{ client.firstName }}</label><br>
            <label><span class="bold"> Apellidos:</span> {{ client.lastName }}</label><br>
            {% if client.alias is not null %}<label><span class="bold"> Alias:</span> "{{ client.alias }}" </label><br>{% endif %}
            <label><span class="bold"> Teléfono:</span>{% if client.telephone is not null %} {{ client.telephone }}{% else %} No tiene teléfono asignado{% endif %}</label><br>
            <label><span class="bold"> Sexo:</span> {% if client.sex=="1" %} Hombre {% elseif client.sex==2 %} Mujer {% else %} No determinado {% endif %}</label><br>
            <label><span class="bold"> Correo electrónico:</span>{% if client.email is not null %} {{ client.email }}{% else %} No tiene correo asignado{% endif %}</label><br>
            {% if is_granted('ROLE_ADMIN') %}<label><span class="bold"> Trabajador asignado: </span><a href="{{ path('worker_detail', {'id': client.user.id}) }}">{{ client.user.firstName }} {{ client.user.lastName }}</a></label><br>{% endif %}

            <label><span class="bold"> Usuario {% if client.active=="0" %}no {% endif %} activo</span></label><br>
            <label><span class="bold"> Dirección:</span> {{ client.address }}</label>
            <a class="btn btn-primary" href="#" onclick="directions()">Cómo llegar</a><br><br>
            <div class="map" id="map"></div><br>
            <script>
                /*var script = document.createElement("script");
                script.setAttribute("src","https://maps.googleapis.com/maps/api/js?key="+config.GMAPS_KEY+"&callback=initMap");
                document.getElementsByTagName("body")[0].appendChild(script);*/
                /*var map;
                function initMap() {
                    var address = {lat: {{ client.latitude }}, lng: {{ client.longitude }}};
                    map = new google.maps.Map(document.getElementById('map'), {
                    center: address,zoom: 16
                    });
                    var marker = new google.maps.Marker({position:address,map:map});
                }*/
                var map = L.map('map').setView([{{ client.latitude }}, {{ client.longitude }}], 13);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 25,
                    minZoom: 16,
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);
                var marker = L.marker([{{ client.latitude }}, {{ client.longitude }}]).addTo(map);

                var options = {
                    enableHighAccuracy: true,
                    timeout: 5000,
                    maximumAge: 0
                };

                function success(pos){
                    var crd = pos.coords;
                    var lat = crd.latitude;
                    var lng = crd.longitude;
                    var url = "https://graphhopper.com/maps/?point="+lat+"%2C"+lng+"&point={{ client.latitude }}%2C{{ client.longitude }}&locale=es-es&vehicle=car&weighting=fastest&elevation=true&use_miles=false&layer=Omniscale";
                    var win = window.open(url, '_blank');

                }

                function error(err) {
                    console.warn('ERROR(' + err.code + '): ' + err.message);
                };

                function directions() {
                    if (navigator.geolocation) {
                      navigator.geolocation.getCurrentPosition(success, error, options);
                    } else {
                      alert("Este navegador no admite geolocalización.");
                    }
                }
            </script>
        </div>
    </div>
{% endblock %}