{% extends 'client/index.html.twig' %}
{% block title %}Creación de clientes{% endblock %}
{% block content %}
    <script type='text/javascript' src='{{ asset('js/config.js') }}'></script>

    <div class="col-md-12">
        <div><h1>Crear cliente</h1></div>
        {{ form_start(clientForm) }}
        {{ form_row(clientForm.firstName) }}
        {{ form_row(clientForm.lastName) }}
        {{ form_row(clientForm.alias) }}
        {{ form_row(clientForm.address) }}
        {{ form_row(clientForm.latitude) }}
        {{ form_row(clientForm.longitude) }}
        <input type="button" class="btn btn-primary" value="Mostrar" onclick="showMap()"><br><br>
        <div id="map" style="height: 250px;"></div>
        <script>
            var script = document.createElement("script");
            script.setAttribute("src","https://maps.googleapis.com/maps/api/js?key="+config.GMAPS_KEY+"&callback=initMap");
            document.getElementsByTagName("body")[0].appendChild(script);
            var map;
            var lat = {{ client.latitude }};
            var lng = {{ client.longitude}};
            var marker;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: lat, lng: lng },
                    zoom: 16
                });
                marker = new google.maps.Marker({position:{lat:lat, lng:lng},map:map,draggable: true,});
                //Permitimos el movimiento del marker, cambiando las coordenadas al soltarlo
                marker.addListener('dragend', function() {
                    lat = marker.getPosition().lat();
                    lng = marker.getPosition().lng();
                    //Guardamos las variables en sus respectivos inputs
                    $("#client_form_latitude").val(lat);
                    $("#client_form_longitude").val(lng);
                });
            }
        </script>
        <br>
        {{ form_row(clientForm.email) }}
        {{ form_row(clientForm.telephone) }}
        {{ form_row(clientForm.sex) }}
        <div class="col-sm-8" style="display: inline-block; padding: 0;">
            {{ form_row(clientForm.avatar, {
                attr: {
                    'placeholder': 'Clique aquí para seleccionar una imagen'
                }
            }) }}
        </div>
        {# Pintamos la imagen actual #}
        <div class="col-sm-3 imagePreview" style="display: inline-block">
            {% if clientForm.vars.data.avatar %}
                <img src="{{ asset('./uploads/client_avatar/'~clientForm.vars.data.avatar) }}" id="imgPreview" height="100">
            {% endif %}
        </div>
        {% if is_granted('ROLE_ADMIN') %}{{ form_row(clientForm.user) }}{% endif %}
        <button type="submit" class="btn btn-primary">Editar</button>
        {{ form_end(clientForm) }}
    </div>
    <script>
        function showMap() {
            //Ponemos la direccion en un formato adecuado. Espacios en blanco = %20, comas = %2C
            var address = $( "#client_form_address" ).val().replace(/ /g, "%20").replace(/,/g, "%2C");
            var addressURL = 'https://api.opencagedata.com/geocode/v1/json?q='+address+'&key='+config.OC_KEY;

            $.getJSON(addressURL, function(data) {
                //Obtenemos coordenadas y las trasladamos al mapa
                var lat = data.results[0].bounds.northeast.lat;
                var lng = data.results[0].bounds.northeast.lng;

                //Guardamos las variables en sus respectivos inputs
                $("#client_form_latitude").val(lat);
                $("#client_form_longitude").val(lng);

                //Quitamos el anterior marcador
                marker.setMap(null);

                //Centramos el mapa en las coordenadas obtenidas y situamos un marcador
                map.setCenter({lat:lat, lng:lng});
                marker = new google.maps.Marker({position:{lat:lat, lng:lng},map:map,draggable: true});
            });
        }
    </script>
{% endblock %}