{% extends 'home/index.html.twig' %}

{% block title %}Área de clientes{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styleClient.css') }}">
{% endblock %}

{% block content %}
    <div class="col-md-12"><h1>Clientes</h1></div>
    <div class="col-md-12 clientOptions">
        {%  if app.request.get('all') %}
            <a href="{{ path('clients') }}"><input type="button" class="btn btn-primary" value="Ver los clientes activos"></a>
        {% else %}
            <a href="{{ path('clients') }}?all=true"><input type="button" class="btn btn-primary" value="Ver todos los clientes"></a>
        {% endif %}
        <a href="{{ path('client_new') }}"><input type="button" class="btn btn-success" value="Añadir cliente"></a>
        <input class="input search" id="search" type="text" placeholder="Buscar...">

    </div>
    <div class="col-md-12 clientList"><br>
        {% for client in clients %}
            <div class="clientContainer col-md-3 {% if not client.active %} disabled {% endif %}">
                <a href="{{ path('client_detail', {'id': client.id}) }}">
                    <div class="clientImageContainer"><img class="clientImage" {% if client.avatar is null %}  src="{{ asset('images/avatar.png') }}" {% else %} src="{{ asset('./uploads/client_avatar/'~client.avatar) }}" {% endif %}  > {# {{ client.avatar }} #}</div><br>
                    <div class="clientName"> {{ client.firstName }} {{ client.lastName }} {% if client.alias is not null %} "{{ client.alias }}" {% endif %}</div>
                    <div class="clientAddress">{{ client.address }}</div>
                </a>
                <div class="center">
                    <a href="{{ path('add_product', {'id': client.id}) }}" class="btn btn-primary"> Añadir producto a deuda</a>
                    {#El administrador no puede cambiar el orden de reparto#}
                    {% if not is_granted('ROLE_ADMIN') %}
                    <a  onclick="$('#del_order{{ client.id }}').toggle()" style="cursor: pointer;">Cambiar orden de reparto</a><br><br>
                    <div class="clientDelOrder" id="del_order{{ client.id }}" style="display: none;">
                        <form action="{{ path('edit_delivery_order', {'id': client.id}) }}" method="post">
                            <input type="number" name="order" value="{{ client.deliveryOrder }}">
                            <input type="submit" value="Cambiar orden">
                        </form>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
{% block headjs %}
    {{ parent() }}
    {# Filtros #}
    <script>
        $('#search').on('keyup', function (e) {
            $('.clientContainer').each(function () {
                if( !$(this).find('.clientName').text().toLowerCase().includes( $('#search').val().toLowerCase()) &&
                    !$(this).find('.clientAddress').text().toLowerCase().includes( $('#search').val().toLowerCase())
                )
                    $(this).css('display', 'none');
                else
                    $(this).css('display', 'inline-table');
            })
        })
    </script>
{% endblock %}