{% extends 'client/index.html.twig' %}
{% block title %}Ruta{% endblock %}
{% block stylesheets %}{{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/graphhopper-js-api-client/dist/graphhopper-client.js"></script>
    <script src="{{ asset('js/lrm-graphhopper.js') }}"></script>

{% endblock %}
{% block content %}
    <script type='text/javascript' src='{{ asset('js/config.js') }}'></script>

    <div class="col-md-12"><h1>Ruta hacia {{ client.firstName }}</h1></div>

    <div class="col-md-12 routeDetails">
        <div class="map" id="map"  style="height: 80vh;"></div>
        <script>
            //Obtenemos nuestra geolocalización
            directions();
            var lat;
            var lng;

            var map = L.map('map').setView([{{ client.latitude }}, {{ client.longitude }}], 16);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                minZoom: 10,
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);

            function setRoute(lat,lng){
                //Utilizamos el sistema de enrutamiento
                L.Routing.control({
                    router: new L.Routing.GraphHopper(config.GH_KEY),
                    createMarker: function(waypointIndex, waypoint, numberOfWaypoints) {
                        //El primer marcador representará nuestra posición, mientras que el otro marcador representará la posición del cliente
                        if(waypointIndex == 0)
                            return  L.marker(waypoint.latLng)
                            .bindPopup('Posición actual');
                        else
                            return L.marker(waypoint.latLng)
                            .bindPopup("{{ client.firstName }} {{ client.lastName }}");
                    },
                    //Markers
                    waypoints: [
                        L.latLng(lat,lng),
                        L.latLng({{ client.latitude }}, {{ client.longitude }})
                    ],
                }).addTo(map);
            }

            var options = {
                enableHighAccuracy: true,
                timeout: 5000,
                maximumAge: 0
            };

            function success(pos){
                //Asignamos la latitud y longitud
                lat = pos.coords.latitude;
                lng = pos.coords.longitude;

                setRoute(lat,lng);
            }

            function error(err) {
                console.warn('ERROR(' + err.code + '): ' + err.message);
            };

            // Con esta función obtenemos los datos de posicionamiento gracias al navegador
            function directions() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(success, error, options);
                } else {
                    alert("Este navegador no admite geolocalización.");
                }
            }
        </script>
    </div>
{% endblock %}
