{% extends 'order/index.html.twig' %}
{% block title %}Crear encargo{% endblock %}
{% block content %}
    <div class="col-md-12">
        <div><h1>Crear encargo</h1></div>
        {{ form_start(addOrderForm) }}
        {#{{ form_row(addOrderForm.client) }}#}
        <div class="form-group">
            <label class="required" for="order_form_client">Asignar cliente</label>
            <select id="order_form_client" name="order_form[client]" class="form-control">
                {% for client in clients %}
                    <option value="{{ client.id }}">{{ client.firstName }} {{ client.lastName }} {{ client.alias }} </option>
                {% endfor %}
            </select>
        </div>
        {{ form_row(addOrderForm.orderDate) }}
        {{ form_row(addOrderForm.deliveryDate) }}
        <h2>Productos</h2>
        <div class="productContainer">
            {% for product in products %}
                <div class="productItem" id="{{ product.id }}">
                    <div class="productName col-md-12"> {{ product }}</div><br>
                    <div class="productQuantity col-md-1">
                        <input type="number" name="order_form[quantity][{{ product.id }}]">
                    </div>
                </div>
            {% endfor %}
        </div>
        {{ form_row(addOrderForm.description) }}
        <br><button type="submit" class="btn btn-primary">Añadir producto/s</button>
        {{ form_end(addOrderForm) }}
    </div>
{% endblock %}