{% extends 'home/index.html.twig' %}

{% block title %}Detalles del encargo{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styleOrder.css') }}">
{% endblock %}

{% block content %}
    <div class="col-md-12"><h1>Detalles del encargo</h1></div>

    <div class="col-md-12 clientOrderDetail"><br>

        <div class="clientData">
            <h3>Datos del cliente</h3>
            <label class="bold">Nombre: </label><span> {{ order.client.firstName }} {{ order.client.lastName }} {{ order.client.alias }}</span><br>
            <label class="bold">Domicilio: </label><span> {{ order.client.address }}</span>
        </div>
        <div style="float: right;">
            <h2>Opciones</h2>
            <a class="btn btn-primary" href="{{ path('order_debt', {'id': order.id}) }}">Añadir encargo a la deuda</a>
            <a class="btn btn-success" href="{{ path('finish_order', {'id': order.id}) }}">Finalizar encargo</a>
        </div>
        <br><br>
        <div class="orderDetails">
            <div class="dates">
                <h3>Fechas</h3>
                <div>
                    <label class="bold">Fecha de encargo:</label> <span>{{ order.orderDate|date('d-m-Y') }}</span><br>
                    <label class="bold">Fecha de entrega:</label> <span>{{ order.deliveryDate|date('d-m-Y') }}</span>
                </div>
            </div>
            {% if order.description is not empty %}
            <div>
                <label class="bold">Descripcion: </label><span> {{ order.description }}</span>
            </div>
            {% endif %}
            <br>
            <h3>Productos encargados</h3>
            <div class="productData">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Producto (valor)</th>
                            <th>Cantidad encargada</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in order.orderProducts %}
                            <tr>
                                <td>{{ product.product }}</td>
                                <td>{{ product.quantity }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div>
                    <h2>Precio del encargo: {{ count }} €</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}