{% extends 'home/index.html.twig' %}

{% block title %}Detalles del encargo{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styleOrder.css') }}">
{% endblock %}

{% block content %}
    <div class="col-md-12"><h1>Detalles del encargo</h1></div>

    <div class="col-md-12 clientOrderDetail"><br>

        <h3>Datos del cliente</h3>
        <div class="clientData">
            <label>Nombre: </label><p>{{ order.client.firstName }} {{ order.client.lastName }} {{ order.client.alias }}</p>
            <label>Domicilio: </label><p>{{ order.client.address }}</p>
        </div>
        <br><br>
        <h3>Fechas</h3>
        <div class="dates">
            <div>
                <label>Fecha de encargo:</label> <p>{{ order.orderDate|date('d-m-Y') }}</p>
                <label>Fecha de entrega:</label> <p>{{ order.deliveryDate|date('d-m-Y') }}</p>
            </div>
        </div>
        <br>
        <h3>Productos encargados</h3>
        <div class="productData">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Producto (valor)</th>
                        <th>Cantidad encargada</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in order.orderProducts %}
                        <tr>
                            <td>{{ product.product }}</td>
                            <td>{{ product.quantity }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <h2>Precio del encargo: {{ count }} €</h2>
            </div>
        </div>
    </div>
{% endblock %}